.rece-title {
    height: 28px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #333333;
    line-height: 28px;
}
.rece-query {
    width: 1070px;
    padding-top: 10px;
    background: #F7F7F7;
    .flex-row {
        .left-comp {
            float: left;
        }
        .right-comp {
            float: right;
        }
    }
    .ant-form-item,.ant-form-item-label,.ant-form-item-control-wrapper{
        display: inline-block;
        vertical-align: top;
    }
    .ant-form-item-label {
        width: 90px;
    }
    .operate-wrapper {
        .ant-btn-primary {
            margin-left: 90px;
        }
        .ant-btn-ghost {
            margin: 0 30px 0 20px;
        }
    }
    .common_search_width {
        width: 170px;
    }
}
.export-btn-wrapper {
    padding: 16px 10px;
}
.total-info-wrapper {
    padding: 0 10px;
    margin-bottom: 16px;
    .total-color {
        color: @primary-color;
    }
    .total-margin {
        margin: 0 20px;
    }
}

.receivable-table {
    .ant-table-tbody > tr > td {
        word-wrap: break-word;
        word-break: break-all;
    }
}

.rece-wrapper {
    .scrollbar {
        border: none;
    }
}

